:root {
    --text_color: #8a1957;
    --border_color: #79483f;
    --font_weight: 500;
    /* text color was chosen from a random hex code generator: https://www.random.org/colors/hex */
}

body {
    background: linear-gradient(wheat, beige);
}

#title-color {
    color: var(--text_color);
}

.title-settings {
    font-size: 48px;
    text-align: center;
}

@media only screen and (min-width: 701px) and (max-width: 1000px) {
    #title-color {
        font-size: 42px;
    }
}

@media only screen and (min-width: 401px) and (max-width: 700px) {
    #title-color {
        font-size: 36px;
    }
}

@media only screen and (max-width: 400px) {
    #title-color {
        font-size: 30px;
    }
}

.img-settings {
    border: 1px solid var(--border_color);
}

#last-saved-img {
    color: var(--text_color);
    font-weight: var(--font_weight);
    padding-bottom: 4px;
}

#new-cat-btn {
    color: var(--text_color);
    font-weight: var(--font_weight);

    border: 1px solid var(--border_color);
}

#cat-fact {
    color: var(--text_color);
    font-weight: var(--font_weight);
}

@media only screen and (min-width: 701px) and (max-width: 1000px) {
    #cat-fact {
        font-size: 0.9em;
    }
}

@media only screen and (min-width: 401px) and (max-width: 700px) {
    #cat-fact {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 400px) {
    #cat-fact {
        font-size: 0.7em;
        padding-right: 25px;
    }
}

#img-container {
    position: relative;
}

#cat-image {
    max-width: 500px;
    max-height: 500px;

    margin-bottom: -5.6px;
}

#save-button {
    color: var(--text_color);
    font-weight: var(--font_weight);

    border: 1px solid var(--border_color);

    position: absolute;
    bottom: 0px;
    /* source for sending an element to the bottom of its parent container: https://stackoverflow.com/questions/2147303/how-can-i-send-an-inner-div-to-the-bottom-of-its-parent-div */
}

@media only screen and (max-width: 750px) {
    #save-button {
        display: block;
    }
}

@media only screen and (min-width: 426px) and (max-width: 525px) {
    #cat-image {
        max-width: 400px;
        max-height: 400px;
    }
}

@media only screen and (min-width: 326px) and (max-width: 425px) {
    #cat-image {
        max-width: 300px;
        max-height: 300px;
    }
}

@media only screen and (max-width: 325px) {
    #cat-image {
        max-width: 200px;
        max-height: 200px;
    }
}
