:root {
    --text_color: #8a1957;
    --border_color: #79483f;
    --text_font_weight: 500;
    /* text and border colors were chosen from a random hex code generator: https://www.random.org/colors/hex */
}

body {
    background: linear-gradient(wheat, beige);
}

#title-container {
    margin-bottom: 12px;
    background: url('../images/Studio_Boxcat_logo.jpg') repeat;
}

#title-color {
    color: var(--text_color);
    font-weight: 700; /* makes title more readable against the background image */
}

.title-settings {
    font-size: 48px;
    text-align: center;
}

@media only screen and (min-width: 701px) and (max-width: 1000px) {
    #title-color {
        font-size: 42px;
    }
}

@media only screen and (min-width: 401px) and (max-width: 700px) {
    #title-color {
        font-size: 36px;
    }
}

@media only screen and (max-width: 400px) {
    #title-color {
        font-size: 30px;
    }
}
/* the font size of the title decreases as the screen shrinks */

/* all changes to default padding settings were made to improve the appearance of the page */
#boxcat-container {
    padding: 0px 0px 0px 12px; /* top right bottom left */
    /* default: 12px 12px 12px 12px */
}

.img-settings {
    border: 1px solid var(--border_color);
}

#last-saved-img {
    color: var(--text_color);
    font-weight: var(--text_font_weight);
    padding: 0px 0px 3px 15px; /* top right bottom left */
    /* default: 0px 0px 0px 0px */
    max-width: 500px;
}

#img-preview {
    max-width: 500px;
    max-height: 500px;
}

@media only screen and (min-width: 351px) and (max-width: 750px) {
    #last-saved-img {
        max-width: 400px;
    }
    #img-preview {
        max-width: 400px;
        max-height: 400px;
    }
}

@media only screen and (max-width: 350px) {
    #last-saved-img {
        max-width: 300px;
    }
    #img-preview {
        max-width: 300px;
        max-height: 300px;
    }
}

#img-box {
    padding: 0px 0px 0px 12px; /* top right bottom left */
    /* default: 12px 12px 12px 12px */
}

#new-cat-btn {
    color: var(--text_color);
    font-weight: var(--text_font_weight);

    border: 1px solid var(--border_color);
}

#cat-fact {
    color: var(--text_color);
    font-weight: var(--text_font_weight);
    max-width: 500px;
    padding: 0px 5px 0px 5px; /* top right bottom left */
    /* default: 0px 0px 0px 0px */
}

@media only screen and (min-width: 701px) and (max-width: 1000px) {
    #cat-fact {
        font-size: 0.9em;
    }
}

@media only screen and (min-width: 401px) and (max-width: 700px) {
    #cat-fact {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 400px) {
    #cat-fact {
        font-size: 0.7em;
        padding-right: 25px;
    }
}
/* the font size of the cat fact decreases as the screen shrinks. the reason for the padding in the last media query is that some of the text is hidden on the right side by the scroll bar when the screen is very small (starting at ~310px). pushing the text slightly to the left solves this problem. */

#cat-image {
    /*display: none;*/
    max-width: 500px;
    max-height: 500px;

    margin-bottom: -5.6px; /* for some reason which we could not figure out, without this margin, the cat image was offset slightly from the bottom of the page. we used a negative bottom margin to push the image down a little so it aligned with the save button. */
}

#save-button {
    display: none;
    color: var(--text_color);
    font-weight: var(--text_font_weight);

    border: 1px solid var(--border_color);
}

@media only screen and (min-width: 426px) and (max-width: 525px) {
    #cat-fact {
        max-width: 400px;
    }
    #cat-image {
        max-width: 400px;
        max-height: 400px;
    }
}

@media only screen and (min-width: 326px) and (max-width: 425px) {
    #cat-fact {
        max-width: 300px;
    }
    #cat-image {
        max-width: 300px;
        max-height: 300px;
    }
}

@media only screen and (max-width: 325px) {
    #cat-fact {
        max-width: 300px;
    }
    #cat-image {
        max-width: 200px;
        max-height: 200px;
    }
}
/* the space that the image is allowed to take up decreases as the screen shrinks */
